<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to The Iron Yard, <%= @user.name %>.</p>

    <p>This is the link to the resources from the event - <%= @event.link %></p>
  </body>
</html>
