<p id="notice"><%= notice %></p>
<% if current_admin.super_admin? %>
<h1 align="center">Operations Staff</h1>
<% Location.all.order(:city).each do |location| %>
  <h2 class="center"><%= location.city %></h2>
    <% location.admins.order(:last_name).each do |admin| %>
      <h4><%= link_to admin.name, edit_admin_path(admin) %></h4>
    <% end %>
<% end %>
<h2>Global Staff</h2>


<br>

<%= link_to 'New Admin', new_admin_path %>
<% else %>
<h2 class="center">You do not belong here.</h2>
<% end %>
