<% if current_admin.events.present? %>

<div class="page-header">
  <h2 align ="center">Welcome to <%= @event %> @TheIronYard</h2>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3>Please Sign In</h3>
    <%= render :partial => 'form' %>
  </div>
  <div class="col-md-3"></div>
</div>

<% else %>

<div class="page-header">
  <h2 align ="center">Oh No! You Haz No Events</h2>
  <h4 align ="center">You can create your first <%= link_to "here", new_event_path %> though.</h4>
</div>

<% end %>
