<%- model_class = User -%>
<div class="page-header">
  <h1 align ="center">Learn More About The Iron Yard </h1>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><%= render :partial => 'form' %></div>
  <div class="col-md-4"></div>
</div>

