<% content_for :head do %>
  <meta http-equiv="refresh" content="2;url=/"
<% end %>


<%- model_class = User -%>
<div class="page-header", align = "center">
  <h1>Success!!</h1>
  <%= image_tag @gif.sample, size: "800x450" %>
</div>
