@import "font";


h1, h2, h3, h4, body {
  font-family: "TisaPro" !important;
}

.red {
  background: rgba(255,0,0,0.25);
}

.red_font {
  color: rgba(255,0,0,0.75);
}

div.mdl-layout__drawer-button {
  color: #333;
}

.mdl-layout{
  margin-bottom: 25px;
}
